# .github/workflows/build.yaml
name: Build
on:
  pull_request:
    branches: [ main ]
    paths:
      - "build.txt"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: __build_artifact__plan
          path: build.txt
