# .github/workflows/build.yaml
name: Build
on:
  pull_request:
    branches: [ main ]
    paths:
      - "build.txt"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: build-artifact
          path: build.txt

      - name: Get Latest Run
        uses: actions/github-script@v8.0.0
        with:
          script: |
            const { data: runs } = await github.rest.actions.listWorkflowRuns({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: context.workflow,
              per_page: 1
            });
            console.log(runs.workflow_runs[0]);
